@charset "UTF-8";
@import "font/font.css";
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0 auto !important;
}
body {
    font-family: "RobotoLight";
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0 auto;
}
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}
a {
    text-decoration: none;
    color: #1471ce;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
a:hover {
    text-decoration: none !important;
    color: #f00;
}
html {
    background-color: white;
}
img {
    border: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    width: auto !important;
}
input,
textarea {
    padding: 0;
    margin: 0;
    resize: none;
    outline: none;
}
select,
.cp {
    cursor: pointer;
}
.clear {
    clear: both;
}
:focus {
    outline: 0;
}
input:focus {
    outline: 1px solid #f97d17;
}
textarea:focus {
    outline: 1px solid #f97d17;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ul,
ol {
    margin-left: 15px;
    text-decoration: none !important;
}
.phantrang {
    text-align: center;
    background: rgba(0, 0, 0, 0);
    right: 0;
    top: -50px;
    padding: 5px 0;
}
.phantrang a {
    background: #193d71;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    margin: 10px 0 10px 4px;
    padding: 6px 10px;
    font-weight: bold;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.phantrang span {
    padding: 3px 10px 5px;
    background: #f97d17;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fff;
}
.phantrang a:hover {
    background: none repeat scroll 0 0 #f97d17;
    box-shadow: none;
    color: #ffffff;
    text-decoration: none;
}
.phantrang .paginate_button_disabled,
.phantrang .paginate_button_disabled:hover {
    background: linear-gradient(to bottom, #f8f8f8 0%, #eaeaea 100%) repeat
        scroll 0 0 transparent;
    border: 1px solid #d2d2d2 !important;
    color: #adadad !important;
    cursor: default;
    opacity: 0.7;
}
.phantrang .paginate_active,
.phantrang .paginate_active:hover {
    background: none repeat scroll 0 0 #05bfdc;
    box-shadow: none;
    color: #fff;
    font-weight: bold;
}
.vshd {
    visibility: hidden;
    height: 0;
    width: 0;
    position: fixed;
    top: -10px;
}
.noidung_product_detail table,
.noidung_product_detail table td,
.noidung_product_detail table tr {
    width: auto !important;
}
#back-top {
    position: fixed;
    bottom: 110px;
    right: 5px;
    text-align: center;
    display: none;
    z-index: 99999;
}
.button {
    padding: 5px 15px;
    background: #74be43;
    color: #fff;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 5px;
    margin-bottom: 8px;
    margin-right: 5px;
}
.input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
}
.center {
    max-width: 1200px;
    margin: 0 auto;
    width: 89%;
}
.main-tit h2 {
    font-family: "RobotoRegular";
    font-size: 25px;
    margin-bottom: 15px;
}
.swap-content {
    /*max-width: 1200px;width: 89%; margin: 30px auto;*/
}
.w-clear:after {
    display: block;
    content: "";
    clear: both;
}
.red {
    color: #f00;
}
.rb {
    color: #f00;
    font-weight: bold;
    font-size: 18px;
}
.addthis_native_toolbox {
    margin-top: 10px;
}
.open-sans {
    font-family: "Open Sans", sans-serif;
}
.mrb15 {
    margin-bottom: 15px;
}
.mrt15 {
    margin-top: 15px;
}
#load {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background: url(img/loading.html) no-repeat center, #fff;
    display: none;
    opacity: 0.9;
    top: 0;
    left: 0;
}
.ct-l.load {
    background: url(img/load.html) no-repeat center;
    min-height: 200px;
}
.del {
    text-decoration: line-through;
}
.box-tab-tit {
    margin-bottom: 10px;
    font-family: RM;
    text-transform: uppercase;
    color: #fff;
    margin-top: 15px;
    border-bottom: 1px solid #8cc5fe;
    text-align: center;
}
.box-tab-tit:after {
    display: block;
    content: "";
    clear: both;
}
.content {
    margin: 0 auto;
    padding: 35px 0;
}
.box-tab-tit div.active {
    color: #fff;
    background: #8cc5fe;
}
.box-tab-con {
    display: none;
}
.box-tab-con:first-child {
    display: block;
}
.slick-img-thumb {
    width: calc(100% + 10px);
    margin-left: -5px;
    margin-top: 10px;
}
.slick-img-thumb img.thumb {
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}
.slick-dots {
    margin: 0 !important;
}
.addthis_toolbox,
.zalo-share-button,
.addthis_inline_share_toolbox {
    float: left;
    margin-right: 10px;
}

/*Video home*/
#box-video {
    background: #ebebeb;
    padding: 30px 0;
}
.item-video {
    text-align: center;
}

/*.item-video{text-align:center;width:100%;margin:auto;max-width:375px;}*/
.item-video a .video-name {
    color: #333;
    text-transform: uppercase;
    margin-top: 12px;
    font: 18px "RobotoMedium";
    z-index: 99;
    position: relative;
    padding: 0 10px 20px 10px;
}
.item-video a {
    display: block;
    position: relative;
}
.item-video a img {
    max-width: 100%;
    min-height: 328px;
}
.hover-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url(/images/icon-youtube.png) no-repeat center;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
}
.item-video:hover .hover-video {
    visibility: visible;
    opacity: 1;
}
.item-video:hover a .video-name {
    color: #fff;
}

/*End video home*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
::-webkit-input-placeholder {
    color: #ccc;
}
::-moz-placeholder {
    color: #ccc;
}
:-ms-input-placeholder {
    color: #ccc;
}
:-moz-placeholder {
    color: #ccc;
}
header {
    padding: 15px 0;
}
header .info {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
header .info .phone-number {
    color: #ed1e29;
    font-weight: bold;
}
.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content-about {
    margin: 15px;
    position: relative;
    z-index: 5;
}
.content-about .content {
    padding: 30px;
    background: #f2f2f3;
    position: relative;
    z-index: 3;
}
.content-about:before {
    content: "";
    position: absolute;
    top: -15px;
    right: -15px;
    width: 274px;
    height: 153px;
    background: url(images/before.png) no-repeat;
    z-index: 1;
}
.content-about:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -20px;
    width: 274px;
    height: 153px;
    border: 4px solid #20a345;
    z-index: 2;
}
.content-about .logo {
    margin-bottom: 25px;
}
.content-about .logo img {
    margin: auto;
    display: block;
}
.content-about .desc {
    line-height: 3rem;
}
.read-more a {
    background: #20a345;
    color: #fff;
    border-radius: 15px;
    padding: 8px 20px;
    margin-top: 5px;
}
.title {
    padding-bottom: 20px;
}
.title h2 {
    font-family: Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.title h2:after {
    position: absolute;
    content: "";
    background: url("/images/after-title.png") center no-repeat;
    width: 100%;
    height: 33px;
    bottom: -40px;
    left: 0;
    right: 0;
}
.tabs_list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}
.tabs_list a {
    background: #a9373b;
    border-radius: 8px;
    padding: 10px 30px;
    color: #fff;
    text-align: center;
    font: 18px "RobotoMedium";
    text-transform: uppercase;
    margin: 0 7px;
    text-decoration: none !important;
}
.tabs_list a:hover,
.tabs_list a.active {
    background: #abd98e;
    color: #fff;
}
.spnoibat {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 70%,
        rgba(235, 235, 235, 1) 30%
    );
}
.products {
    margin-top: 25px;
}
.item-home.item {
    border: 1px solid #e1e1e1;
    font-family: Roboto, sans-serif;
    margin-bottom: 20px;
    text-align: center;
}
.item-home.item .images {
    overflow: hidden;
}
.item-home.item .images img {
    transition: All 0.7s ease;
    -webkit-transition: All 0.7s ease;
    -moz-transition: All 0.7s ease;
    -o-transition: All 0.7s ease;
    display: inline-block !important;
}
.item-home.item .images:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}
.item-home.item .product-name {
    padding: 25px 5px;
}
.item-home.item .product-name a {
    color: #333;
    font-size: 16px;
    text-align: center;
    display: block;
    font-family: "RobotoBold";
    min-height: 50px;
}
.item-home.item .product-name .giakm {
    font-size: 16px;
    margin-top: 8px;
    text-transform: initial;
}
.item-home.item .product-name a:hover {
    color: #abd98e;
}
.item-home.slick-slide > div {
    margin: 15px;
}
.item-home.item .product-detail {
    background: #e1e1e1;
}
.item-home.item .product-detail:hover {
    background: #abd98e;
}
.item-home.item .product-detail:hover a {
    color: #fff;
}
.item-home.item .product-detail a {
    color: #707070;
    padding: 17.5px 10px;
    display: block;
    font: 16px "RobotoBold";
}
.item-home.item .product-detail a img {
    margin: -3px 5px 0 0;
    width: auto !important;
}
#product-list {
    background: #ebebeb;
    margin-top: 20px;
}
.product-list {
    padding: 20px 0;
}
.product-list .list {
    margin-top: 30px;
}
.product-list .list .item {
    margin-bottom: 15px;
}
.product-list .list .item a {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #333333;
}
.product-list .list .item a:hover {
    color: #20a345;
}
.product-list .list .item .product-name {
    padding-top: 15px;
}
#box-video .video-content,
#box-news .news-content {
    margin-top: 20px;
}
#box-video .video-content .item {
    font-family: Roboto, sans-serif;
    font-weight: 700;
}
#box-video .video-content .item + .item {
    margin-top: 20px;
}
#box-news .news-content .item {
    padding: 0 10px;
    font-family: Roboto, sans-serif;
}
#box-news .news-content .item .item-news .image {
    overflow: hidden;
    position: relative;
}
#box-news .news-content .item .item-news .image .date {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #bc6f75c4;
    padding: 10px 20px;
    color: #fff;
}
#box-news .news-content .item .item-news .image img {
    transition: All 0.7s ease;
    -webkit-transition: All 0.7s ease;
    -moz-transition: All 0.7s ease;
    -o-transition: All 0.7s ease;
}
#box-news .news-content .item .item-news:hover .image img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}
#box-news .news-content .item .item-news .title {
    font-weight: 500;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    margin-top: 15px;
}
#box-news .news-content .item .item-news:hover .title {
    color: #20a345;
}
#box-news .slick-dots li {
    margin: 0;
}
#box-news .slick-dots li button:before {
    opacity: 1;
    content: "";
    background: #8b8b8b;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    top: 7px;
    left: 7px;
}
#box-news .slick-dots li.slick-active button:before {
    opacity: 1;
    content: "";
    background: #20a345;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
}
.tieuchi {
    background: #ebebeb;
}
.tieuchi .tieuchi-item {
    margin: 0 5px;
}
.copyright {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #fff;
}
.get-newsletter .content {
    margin: 0;
    padding: 0;
}
.get-newsletter .content .form-group {
    position: relative;
}
.get-newsletter .content .form-group input {
    height: 50px;
    border-radius: 30px;
    padding: 10px 85px 10px 20px;
    font: 14px "RobotoLight";
    color: #000;
}
.get-newsletter .content .form-group input::placeholder {
    font: 14px "RobotoLight";
    color: #000;
}
.get-newsletter .content .form-group button {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    border-radius: 23px;
    padding: 6px 30px;
    background-color: #74be43;
}
.menu .center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu .center .ddsmoothmenu {
    float: left;
    line-height: 54px;
}
.menu .center .ddsmoothmenu ul {
    padding: 0px;
    list-style: none;
}
.menu .center .ddsmoothmenu ul li a {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 13px;
    padding: 0px 4px;
    text-transform: uppercase;
    position: relative;
}
.menu > .center > .ddsmoothmenu > ul > li > a {
    margin: 0 10px;
}
.menu .ddsmoothmenu ul li ul li a {
    margin: 0;
    padding: 10px !important;
    text-align: left !important;
    background: none !important;
    line-height: normal;
}
.ddsmoothmenu ul li a.active,
.ddsmoothmenu ul li a:hover {
    color: #20a345;
    border-bottom: 1px solid #20a345;
}
.menu .ddsmoothmenu ul li ul a.selected,
.menu .ddsmoothmenu ul li ul li a:hover {
    color: #20a345;
}
.menu .center .ddsmoothmenu > ul > li:hover > a,
.menu .center .ddsmoothmenu > ul > li > a.active {
    color: #000;
}
.menu .center .ddsmoothmenu > ul > li:hover > a:before,
.menu .center .ddsmoothmenu > ul > li > a.active:before {
    content: "";
    background: #7fdeff;
    width: 100%;
    height: 2px;
    border-top: 1px solid #dcf6ff;
    position: absolute;
    left: 0;
    bottom: 26px;
    display: none;
}
.menu .center .ddsmoothmenu ul li.line {
    width: 1px;
    height: 90px;
    background: url(img/linemenu.png) no-repeat center;
}
#search {
}
#search input {
    -webkit-box-shadow: inset 9px 9px 14px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 9px 9px 14px -9px rgba(0, 0, 0, 0.75);
    box-shadow: inset 9px 9px 14px -9px rgba(0, 0, 0, 0.75);
    padding: 5px;
    float: left;
    width: 250px;
}
#search img {
    background: #000;
    padding: 9px;
}
.hotlineh {
    background: #ed1f24 url(img/hotlineh.png) no-repeat left center;
    flex-basis: 168px;
    height: 30px;
    font-family: "RobotoRegular";
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    padding-left: 40px;
    border-radius: 15px;
}

/* End Menu */
.box-top {
    padding: 10px 0;
}
.box-top span {
    background: #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 25px;
}
.content-header__r {
    width: 50%;
    float: right;
}
.cart_head {
    background: #000;
    color: #fff;
    margin-top: -10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.cart_head a {
    color: #fff;
}
.cart_head span {
    background: none;
}
.slideshow {
    position: relative;
}
.box-slide .theme-default .nivoSlider {
    background-color: transparent !important;
    margin-bottom: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.box-slide .nivo-caption a {
    display: block !important;
}
.box-slide .nivo-caption {
    top: 50px;
    right: 100px;
    left: inherit;
    bottom: inherit;
    max-width: 400px;
    background: transparent;
    color: #000;
    padding: 0px;
    opacity: 1;
    overflow: inherit !important;
    -moz-opacity: 1;
    filter: alpha(opacity=1);
}
.title-slide {
    line-height: 35px;
    height: 38px;
    margin-bottom: 6px;
}
.title-slide a {
    font-size: 25px;
    font-weight: normal;
    color: #fff !important;
    border-bottom: 0px !important;
}
.title-slide a:hover {
    color: #109748 !important;
}
.desc-slide {
    line-height: 25px;
    text-align: justify;
    color: #fff;
    margin-bottom: 15px;
}
.slideshow .box-slide .theme-default .nivoSlider img {
    max-width: 100%;
}
.w-ht {
    font-family: "OpenSans";
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    color: #787878;
    line-height: 20px;
}
.w-ht img {
    float: left;
    margin-right: 5px;
    margin-top: 10px;
}
.w-ht div {
    color: #f00;
    font-size: 20px;
}
.lh-l {
    width: 50%;
    float: left;
    padding-right: 20px;
    border-right: 1px solid #ccc;
}
.lh-r {
    width: 50%;
    float: left;
    padding-left: 20px;
    border-left: 1px solid #ccc;
    margin-left: -1px;
}
.lh-con-l {
    width: 30%;
    float: left;
    margin-bottom: 5px;
}
.lh-con-r {
    width: 70%;
    float: left;
    margin-bottom: 5px;
}
.lh-con-r * {
    max-width: 100%;
}
.lh-con-r .input {
    width: 100%;
}
.lh-con-r textarea {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    width: 100%;
}
.box-sp {
    width: 23.17% !important;
    float: left;
    background: #fff;
    z-index: 1;
    margin-right: 2.4% !important;
    margin-bottom: 2.4% !important;
}
.ct-l {
    float: left;
    width: 45%;
    text-align: center;
}
.ct-r {
    width: 52%;
    float: right;
}
.ct-tit {
    font-family: "RobotoRegular";
    font-weight: normal;
    margin: 0;
    color: #000;
}
.ct-tit h2 {
    font-weight: normal;
    margin: 0 0 15px;
    color: #020202;
    font-size: 22px;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.5;
    font-family: "RobotoRegular";
    font-weight: bold;
    border-bottom: 1px solid #ff0000;
    margin-bottom: 10px;
    padding-bottom: 4px;
}
.giakm {
    font-family: "RobotoRegular";
    font-size: 21.34px;
    color: #ff0000;
}
.giathitruong {
    font-family: "RobotoRegular";
    font-size: 14px;
    color: #333333;
    margin-bottom: 10px;
    margin-top: 5px;
}
.giathitruong span {
    text-decoration: line-through;
}
.product_detail_main li {
    font-family: "RobotoRegular";
    font-size: 16px;
    color: #333333;
    background: url(img/teck.png) no-repeat center left;
    padding-left: 20px;
    box-sizing: border-box;
    line-height: 1.5;
}
.title_muahang {
    font-family: "RobotoRegular";
    font-size: 21.34px;
    color: #333333;
    text-transform: uppercase;
    border-top: 1px solid #1b8339;
    margin-top: 10px;
    padding-top: 6px;
}
.quantity label {
    font-family: "RobotoRegular";
    font-size: 16px;
    color: #333333;
    font-weight: normal;
}
.luocmua,
.luocxem,
.loaihang {
    display: inline-block;
    font-family: "RobotoRegular";
    font-size: 14px;
    color: #666666;
    margin-right: 5%;
    margin-top: 6px;
}
.luocmua span,
.luocxem span,
.loaihang span {
    color: #000000;
}
.sc-tab-tit {
    font-family: RB;
    margin-top: 10px;
    font-weight: bold;
    background: #dedcdc;
    padding: 5px 10px;
    color: #555;
    cursor: pointer;
}
.mn-l {
    width: 60%;
    float: left;
    position: relative;
    margin-left: 5%;
    border: 1px solid #f2f2f2;
    padding: 10px;
    box-shadow: 0 0 5px #ccc;
}
.mn-l img,
#phuongphapphoimau .col-2 img {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 0;
    opacity: 0;
}
.mn-l img.active,
#phuongphapphoimau .col-2 img.active {
    position: static;
    z-index: 99;
    opacity: 1;
}
.mn-r {
    width: 28%;
    float: right;
    margin-right: 5%;
}
.mn-r img {
    margin: 0 10px 10px 0;
    float: left;
    cursor: pointer;
}
.mn-r img:nth-child(2n) {
    margin-right: 0;
}
.sm-r img {
    margin: 0 0 10px 0 !important;
}
.box-news {
    line-height: 20px;
    border-bottom: 1px solid #ccc;
    width: 49%;
    float: left;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.box-news:nth-child(2n) {
    float: right;
}
.box-news-img {
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 2px;
    width: 100%;
    margin-bottom: 5px;
    max-width: 250px;
}
.mota_news {
    font-size: 14px;
    font-family: "RobotoRegular";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.box-news h3 {
    margin: 0 0 5px;
    font-size: 18px;
    font-family: RR;
    display: block;
}
.box-news h3 a {
    font-family: "RobotoBold";
    font-size: 15px;
    margin: 8px 0;
    display: block;
    color: #333;
    text-transform: uppercase;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.box-news h3 a:hover {
    color: #ff0000;
}
.box-news-date {
    color: #bbbbbb;
    display: block;
    margin-bottom: 5px;
}
h2.tincungloai {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin: 0 0 5px;
    padding-bottom: 5px;
    margin-top: 15px;
}
.box-newsi {
    font-family: RR;
    text-align: justify;
    font-size: 13px;
}
.box-newsi h3 {
    font-size: 14px;
    font-weight: normal;
    font-family: RB;
    margin: 5px 0;
    line-height: 22px;
}
.box-newsi a {
    color: #3e3e3e;
}
.box-news1 {
    line-height: 20px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    width: 48%;
    float: left;
    margin: 0 4% 20px 0;
}
.box-news1-img {
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 2px;
}
.box-news1 h3 {
    margin: 0 0 5px;
    font-size: 18px;
    font-family: RR;
}
.box-news1-date {
    color: #bbbbbb;
}
.box-news1:nth-child(2n) {
    margin-right: 0;
}
.box-news1:nth-child(2n + 1) {
    clear: both;
}

/*Main danh mục sản phẩm*/
.title_main_in {
    margin-bottom: 22px;
    text-align: center;
}
.title_main_in > span {
    color: #333333;
    font-size: 25px;
    font-family: "RobotoBold";
    text-transform: uppercase;
}

/*End main danh mục sản phẩm*/

/*chi tiết sản phẩm*/
.sp-l {
    float: left;
    width: 100%;
}
.logos {
    text-align: center;
    margin: 10px 0;
}
.tincungloai li a {
    color: #333;
    font-family: "RobotoRegular";
    font-size: 14px;
    text-transform: capitalize;
}
.tincungloai li a:hover {
    color: #ff0000;
}
.box-sp:nth-child(4n) {
    margin-right: 0px !important;
}
#map_canvas img {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
}
.slick-thumb-pro {
    width: 29.83%;
    float: left;
    position: relative;
}
.slick-thumb-pro .slick-prev {
    height: 10px;
    width: 50px;
    background: url(img/bottomdin.jpg);
    top: 102%;
    left: 50%;
    transform: translateX(-50%);
}
.slick-thumb-pro .slick-next {
    height: 10px;
    width: 50px;
    background: url(img/buttomtopin.jpg);
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
}
.MagicZoom {
    width: 100%;
    border: 2px solid #f3f3f3;
    text-align: center;
}
.pic_product_detail img {
    max-width: 99% !important;
    min-height: 80px;
    box-shadow: none !important;
    border: 2px solid #cccccc !important;
    box-sizing: border-box !important;
    padding: 20px;
}
.pic_product_detail {
    margin-bottom: 5px;
    margin-top: 2px;
}
.slick-thumb-pro {
    padding-top: 5px;
}
.hinh_sp_detail {
    width: 100%;
    float: left;
}

/*End chi tiết sản phẩm*/

/*Liên hệ*/
.lienhe-left {
    float: left;
    width: 100%;
}
.lienhe-right {
    float: right;
    width: 47%;
}
.map-c iframe {
    width: 100%;
    height: 430px;
}
.form-group {
    margin-bottom: 4px !important;
}
.form-control {
    float: left;
    width: 100%;
    border: 1px solid #dddddd;
    height: 35px;
    outline: none;
    margin-bottom: 0 !important;
}
.lienhe-right .btn {
    width: 110px;
    height: 35px;
    text-align: center;
    background: #20a345;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "RobotoRegular";
    border: 0;
    outline: 0;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    padding: 0;
    line-height: 35px;
}
.lienhe-right .btn:hover {
    background: #ff0000;
}

/*End liên hệ*/

/*footer*/
#footer {
    background: #3cb043;
    color: #fff;
}
#footer .mota_footer {
    margin-top: 25px;
    margin-bottom: 20px;
    color: #fff;
}
.lh-1 {
    float: left;
}
.lh-1:nth-child(1) {
    width: 28%;
    margin-right: 2%;
}
.lh-1:nth-child(2) {
    width: 35%;
}
.lh-1:nth-child(3) {
    width: 27.7%;
    float: right;
    overflow: hidden;
}
.title_footer {
    font-family: "RobotoLight";
    color: #444444;
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.mota_footer,
.main_footer {
    font-family: "RobotoLight";
    color: #333;
    font-size: 15px;
    line-height: 22px;
}
.main_footer {
    margin-bottom: 20px;
}
.footer_bottom {
    min-height: 40px;
    line-height: 40px;
    background: #959595;
}
.footer_top {
    padding-top: 35px;
    padding-bottom: 28px;
}
.footer_top h5 {
    font-weight: bold;
}
.col-md-6 ul li a {
    color: #444444;
    font-size: 14px;
    font-family: "RobotoLight";
}
.col-md-6 ul li a:hover {
    color: red;
}
.mangxahoi {
    margin-top: 20px;
}
.mangxahoi li {
    display: inline-block;
    padding: 0 3px;
    text-align: left;
}
.coppy {
    float: left;
}
.coppy > font {
    font-family: "RobotoLight";
}
.coppy > b {
    font-weight: normal;
    font-family: "RobotoBold";
}
.coppy {
    font-family: "RobotoRegular";
    font-size: 14px;
    color: #fff;
    display: block;
    text-align: center;
}
.coppy a {
    display: inline-block;
}
#hotlinemaytinh {
    position: fixed;
    z-index: 9999;
    left: 10px;
    bottom: 2%;
}
#hotlinemaytinh .miennam,
#hotlinemaytinh .mienbac {
    color: white;
    line-height: 42px;
    font-size: 16px;
    font-weight: bold;
}
#hotlinemaytinh a {
    color: #fff;
}
#hotlinemaytinh .mienbac,
#hotlinemaytinh .miennam {
    background: #e81616;
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 7px;
    height: 40px;
    border-radius: 4px;
    padding: 0px 10px;
    text-align: left;
}
#hotlinemaytinh .mienbac {
    background: #0678bd;
}

/*End footer*/

/*Tiêu chí*/
.title_amintion {
    text-align: center;
    margin-bottom: 18px;
    background: url(images/title_tieuchi.png) bottom center no-repeat;
    text-align: center;
    margin-bottom: 18px;
    background: url(images/title_tieuchi.png) bottom center no-repeat;
    text-transform: uppercase;
    font-size: 22px;
    padding-bottom: 5px;
}
.title_amintion ul {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    animation: 20s linear 0s normal none infinite change;
    -webkit-animation: 20s linear 0s normal none infinite change;
    -moz-animation: 20s linear 0s normal none infinite change;
    -o-animation: 20s linear 0s normal none infinite change;
}
.visible {
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    height: 50px;
}
@-webkit-keyframes change {
    0% {
        margin-top: 0;
    }
    4% {
        margin-top: 0;
    }
    8% {
        margin-top: 0;
    }
    12% {
        margin-top: -50px;
    }
    16% {
        margin-top: -50px;
    }
    20% {
        margin-top: -100px;
    }
    24% {
        margin-top: -100px;
    }
    28% {
        margin-top: -150px;
    }
    32% {
        margin-top: -150px;
    }
    36% {
        margin-top: -200px;
    }
    40% {
        margin-top: -200px;
    }
    44% {
        margin-top: -250px;
    }
    48% {
        margin-top: -250px;
    }
    52% {
        margin-top: -300px;
    }
    56% {
        margin-top: -300px;
    }
    60% {
        margin-top: -250px;
    }
    64% {
        margin-top: -250px;
    }
    68% {
        margin-top: -200px;
    }
    72% {
        margin-top: -200px;
    }
    76% {
        margin-top: -150px;
    }
    80% {
        margin-top: -150px;
    }
    84% {
        margin-top: -100px;
    }
    88% {
        margin-top: -100px;
    }
    92% {
        margin-top: -50px;
    }
    96% {
        margin-top: -50px;
    }
    100% {
        margin-top: 0;
    }
}
@keyframes change {
    0% {
        margin-top: 0;
    }
    4% {
        margin-top: 0;
    }
    8% {
        margin-top: 0;
    }
    12% {
        margin-top: -50px;
    }
    16% {
        margin-top: -50px;
    }
    20% {
        margin-top: -100px;
    }
    24% {
        margin-top: -100px;
    }
    28% {
        margin-top: -150px;
    }
    32% {
        margin-top: -150px;
    }
    36% {
        margin-top: -200px;
    }
    40% {
        margin-top: -200px;
    }
    44% {
        margin-top: -250px;
    }
    48% {
        margin-top: -250px;
    }
    52% {
        margin-top: -300px;
    }
    56% {
        margin-top: -300px;
    }
    60% {
        margin-top: -250px;
    }
    64% {
        margin-top: -250px;
    }
    68% {
        margin-top: -200px;
    }
    72% {
        margin-top: -200px;
    }
    76% {
        margin-top: -150px;
    }
    80% {
        margin-top: -150px;
    }
    84% {
        margin-top: -100px;
    }
    88% {
        margin-top: -100px;
    }
    92% {
        margin-top: -50px;
    }
    96% {
        margin-top: -50px;
    }
    100% {
        margin-top: 0;
    }
}
.visible ul {
    padding-left: 0;
}
.visible ul li {
    font-family: "RobotoBold";
    font-size: 38px;
    color: #333333;
    text-transform: uppercase;
    height: 50px;
    text-align: center;
}
.tieuchi a {
    outline: none !important;
    display: block;
    height: 100%;
}
.tieuchi {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #ebebeb;
    margin-top: 15px;
}
.item_tieu_chi {
    max-width: 230px;
    text-align: center;
    margin: 0 auto;
    background: #fff;
    box-shadow: 5px 5px 10px 0 #ccc;
    height: 120px;
    transition: 0.5s;
}
.slick-slide .item_tieu_chi img {
    max-width: 100%;
    width: 100% !important;
    height: 100%;
    object-fit: cover;
}
.item_tieu_chi:hover {
    margin-top: -5px;
    transition: 0.5s;
}
.item_tieu_chi:hover > h3 a {
    color: #005572;
}
.pic_pro {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.pic_pro img {
    margin: auto;
}
.item_tieu_chi h3 a {
    font-size: 19px;
    color: #2a2a2a;
    text-transform: uppercase;
    display: block;
    font-weight: normal;
}
.item_tieu_chi h3 a:hover {
    color: #ff0000;
}
.item_tieu_chi span {
    display: block;
    text-align: left;
    font-family: "RobotoLight";
    font-size: 13px;
    color: #444444;
    line-height: 2;
}
.slick-tieuchi .slick-prev,
.slick-tieuchi .slick-next {
    width: 17px;
    height: 30px;
}
.slick-tieuchi .slick-prev {
    background: url(img/pre_partner.png) no-repeat !important;
}
.slick-tieuchi .slick-next {
    background: url(img/next_partner.png) no-repeat !important;
}
.slick-tieuchi .slick-prev:before,
.slick-tieuchi .slick-next:before {
    display: none !important;
}

/*End tiêu chí*/

/*Giao hàng tận nơi*/
.shipper {
    background: url(images/bg_menu.png) repeat;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-family: "RobotoLight";
}

/*End giao hàng tận nơi*/

/*Ý kiến khách hàng*/
.opinion_customer {
    background: url(images/bg_ykienkhachhang.png) no-repeat;
    padding: 30px 0;
    height: 500px;
    background-size: cover;
    box-sizing: border-box;
    overflow-x: hidden;
}
.opinion_customer .slick-list {
    overflow: initial;
}
.slick-opinion-customer .slick-dots li button:before {
    font-size: 15px;
    width: 27px;
    height: 27px;
    color: #cccccc;
    opacity: 1;
}
.slick-opinion-customer .slick-dots li.slick-active button:before {
    color: #707070;
    font-size: 15px;
    width: 27px;
    height: 27px;
}

/*End ý kiến khách hàng*/

/*Đăng ký nhận tin*/
.frame_register {
    background: url(images/bg_menu.png) repeat;
    padding: 50px 0;
    text-align: center;
    color: #fff;
    font-family: "RobotoLight";
}
.title_dknt {
    font-size: 40px;
    text-transform: uppercase;
}
#frm_dknt #email_nhantin {
    background: rgba(255, 255, 255, 0.3);
    color: #000;
    border: none;
    width: 35%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    margin: 10px 0;
}
#frm_dknt #submit_nhantin {
    background: #000;
    border: none;
    padding: 6px 25px;
    border-radius: 15px;
}

/*End đăng ký nhận tin*/

/*Vì sao chọn chúng tôi*/
.taisao {
    width: 100%;
    padding: 80px 0;
}
.taisao_left {
    float: left;
    width: 634px;
}
.taisao_right {
    float: right;
    width: calc(100% - 634px);
    background: #fff;
    padding: 28px;
    min-height: 442px;
}
.taisao_right > span {
    font-family: "RobotoMedium";
    font-size: 19px;
    color: #07b9f7;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}
.item_taisao {
    font-family: "RobotoLight";
    font-size: 13px;
    color: #444444;
    text-decoration: none !important;
    outline: none !important;
    margin-bottom: 16.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.item_taisao:hover {
    color: #ff0000;
}
.item_taisao img {
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block !important;
    margin-top: -3px;
}
.slider-for-visao .slick-prev:before,
.slider-for-visao .slick-next:before {
    display: none;
}
.slider-for-visao .slick-prev {
    background: url(img/prew_visao.png) no-repeat !important;
    width: 31px;
    height: 31px;
    left: 14px;
}
.slider-for-visao .slick-next {
    background: url(img/next_visao.png) no-repeat !important;
    width: 31px;
    height: 31px;
    right: 14px;
}

/*End vì sao chọn chúng tôi*/

/*Đội ngũ bác sĩ*/
.doingubacsi {
    background: #e8f3f5;
    position: relative;
    padding-top: 35px;
    padding-bottom: 25px;
}
.doingubacsi .title_main_in,
.dichvu_nb .title_main_in {
    margin-bottom: 38px;
}
.item_doingu a {
    outline: none !important;
}
.item_doingu {
    width: 100%;
    margin: 0 auto;
    max-width: 380px;
}
.item_doingu h3 {
    margin: 0;
    font-size: inherit;
}
.pic_doingu {
    border: 6px solid #fff;
    border-radius: 20px;
    display: block;
    overflow: hidden;
}
.item_doingu > h3 > a {
    font-family: "RobotoMedium";
    font-size: 19px;
    color: #2a2a2a;
    text-transform: capitalize;
    display: block;
    margin: 15px 0 8px 10px;
}
.item_doingu > h3 > a:hover {
    color: #ff0000;
}
.item_doingu > span {
    display: block;
    font-family: "RobotoLight";
    font-size: 13px;
    color: #444444;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 20px;
}
.item_doingu > span:before {
    content: "";
    width: 103px;
    height: 1px;
    background: #227a9e;
    position: absolute;
    left: 0;
    bottom: 0;
}
.contact_doingu > span {
    font-family: "RobotoLight";
    font-size: 13px;
    color: #000000;
    display: block;
    text-align: justify;
    line-height: 1.7;
    margin-bottom: 15px;
}
.contact_doingu > a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border: 1px solid #eabc6c;
    color: #000;
    box-shadow: inset 0px 0px 3px 1px #ecbe6d;
    margin-right: 2px;
}
.contact_doingu > a:hover {
    color: #30c6fb;
}
.slick-doi-ngu .slick-dots li button:before,
.slick-dichvu-nb .slick-dots li button:before {
    display: none !important;
}
.slick-doi-ngu .slick-dots li,
.slick-dichvu-nb .slick-dots li {
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid #8de1ff;
    border-radius: 50%;
    vertical-align: middle;
}
.slick-doi-ngu .slick-dots li.slick-active,
.slick-dichvu-nb .slick-dots li.slick-active {
    width: 14px;
    height: 14px;
    background: #8de1ff;
}
.slick-doi-ngu .slick-dots,
.slick-dichvu-nb .slick-dots {
    bottom: inherit;
    top: -36px;
}

/*End đội ngũ bác sĩ*/

/*Dịch vụ nổi bật*/
.dichvu_nb {
    position: relative;
}
.item_dv {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.pic_dv {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.pic_dv > span {
    background: rgba(47, 180, 223, 0.8) url(img/rang.png) no-repeat center
        center;
    display: block;
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 94px;
    left: -100%;
    top: 0;
    transition: 0.5s ease 0s;
    -moz-transition: 0.5s ease 0s;
    -webkit-transition: 0.5s ease 0s;
    -o-transition: 0.5s ease 0s;
    -ms-transition: 0.5s ease 0s;
}
.item_dv:hover .pic_dv > span {
    left: 0;
}
.item_dv h3 {
    margin: 0;
    font-size: inherit;
}
.item_dv h3 a {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "RobotoMedium";
    font-size: 19px;
    color: #2a2a2a;
    text-transform: uppercase;
    margin: 15px 0 12px 0;
}
.item_dv h3 a:hover {
    color: #ff0000;
}
.item_dv > span {
    display: block;
    line-height: 1.8;
    font-family: "RobotoLight";
    font-size: 13px;
    color: #444444;
    text-align: justify;
}

/*End dịch vụ nổi bật*/

/*Cảm nhận khách hàng*/
.camnhan {
    background: #e8faf8;
    padding: 35px 0;
}
.main-img {
    background: #005572;
    margin-bottom: 35px;
}
.main-img > .center {
    text-align: center;
    max-width: 504px;
}
.img_camnhan {
    float: left;
    cursor: pointer;
    position: relative;
}
.img_camnhan:before {
    content: "";
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.camnhan > .center1 {
    max-width: 964px;
    margin: 0 auto;
    text-align: center;
}
.item_camnhan > span {
    display: block;
}
.item_camnhan > span:first-child {
    font-family: "RobotoLight";
    font-size: 15px;
    color: #444444;
    text-decoration: underline;
    background: #e3f5f3;
    padding: 35px 0 26px 0;
    position: relative;
    z-index: 2;
}
.item_camnhan > span:first-child:before {
    content: "";
    background: url(img/phay.png) no-repeat;
    width: 42px;
    height: 36px;
    position: absolute;
    left: 55px;
    top: 16px;
    z-index: -1;
}
.dots-cn {
    padding: 5px 0;
}
.dots-cn span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #0d93a5;
    border-radius: 50%;
}
.item_camnhan > span:nth-child(3) {
    font-family: "RobotoMedium";
    font-size: 13px;
    color: #333333;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.item_camnhan > span:nth-child(4) {
    font-family: "RobotoLight";
    font-size: 13px;
    color: #a8a8a8;
    text-transform: capitalize;
}
.slider-nav-camnhan .slick-current .img_camnhan:before {
    background: transparent;
}
.slider-for-camnhan .slick-prev:before,
.slider-for-camnhan .slick-next:before {
    display: none;
}
.slider-for-camnhan .slick-prev {
    background: url(img/prew_camnhan.png) no-repeat !important;
    width: 39px;
    height: 36px;
    top: 28%;
    left: -100px;
}
.slider-for-camnhan .slick-next {
    background: url(img/next_camnhan.png) no-repeat !important;
    width: 39px;
    height: 36px;
    top: 28%;
    right: -100px;
}

/*End cảm nhận khách hàng*/

/*Bài viết mới*/
.blog {
    padding: 40px 0;
    position: relative;
}
.blog .title_main_in {
    text-align: left;
    background: url(images/title_block.png) bottom center no-repeat;
    padding-bottom: 20px;
    text-align: center;
}
.item_tintuc {
    max-width: 350px;
    margin: 0 auto;
    width: 100%;
}
.pic_news {
    border: 5px solid #fff;
    display: block;
    position: relative;
}
.item_tintuc h3 {
    margin: 0;
    font-size: inherit;
}
.item_tintuc h3 a {
    font-family: "RobotoMedium";
    font-size: 19px;
    color: #2a2a2a;
    display: block;
    margin: 12px 0 0px 0;
    position: relative;
    padding-bottom: 16px;
    outline: none;
}
.item_tintuc a img {
    border-radius: 20px;
    transition: 0.8s;
}
.item_tintuc a img:hover {
    opacity: 0.5;
    transition: 0.8s;
}
.date_news_bottom {
    color: #c0c0c0;
}
.item_tintuc h3 a:before {
    display: none;
}
.item_tintuc h3 a:hover {
    color: #ff0000;
}
.item_tintuc h3 a:before {
    content: "";
    background: #07b9f7;
    width: 182px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.xemthemnews {
    display: inline-block;
    background: url(img/backxemthem.png) no-repeat;
    width: 183px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-family: "RobotoLight";
    font-size: 15px;
    color: #747474;
    text-decoration: none;
    outline: none;
    padding-left: 40px;
    display: none;
}
.date_news {
    font-family: "RobotoLight";
    font-size: 12px;
    color: #444444;
    background: #fff;
    max-width: 95px;
    max-height: 36px;
    position: absolute;
    left: -30px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 36px;
    top: 25%;
}
.date_news:before {
    background: url(img/muiten1.png) no-repeat;
    left: 100%;
    top: 50%;
    content: "";
    height: 16px;
    width: 8px;
    position: absolute;
    transform: translateY(-50%);
}
.slick-tin-tuc-moi .slick-prev:before,
.slick-tin-tuc-moi .slick-next:before {
    display: none;
}
.slick-tin-tuc-moi .slick-prev {
    background: url(img/prew_tintucmoi.png) no-repeat !important;
    width: 22px;
    height: 21px;
    top: -32px;
    right: 60px;
    left: inherit;
}
.slick-tin-tuc-moi .slick-next {
    background: url(img/next_tintucmoi.png) no-repeat !important;
    width: 22px;
    height: 21px;
    top: -32px;
    right: 26px;
}

/*End bài viết mới*/
.partner {
    margin: 20px 0;
}
.tt_opinion {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-family: "RobotoLight";
}
.box_opinion {
    width: 89%;
    margin: auto;
    position: relative;
    background: url(images/bg_ykkh.png) no-repeat;
    background-size: 100% 100%;
    padding: 25px;
    min-height: 230px !important;
}
.frame_image {
    text-align: center;
    position: absolute;
    bottom: -85px;
    left: 44%;
    width: 136px;
}
.frame_image a img {
    margin: auto;
}
.frame_image h5 {
    color: #181818;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "RobotoLight";
}
.box_opinion .description_ct {
    margin-top: 20px;
    line-height: 2;
    font-family: "RobotoLight";
}
.box_opinion .absolute_ct {
}
.slick-opinion-customer .slick-dots {
    bottom: -120px;
}
#wrap_menu_res {
    display: none;
}
.slick-product__index .item_pro {
    width: auto !important;
    margin: 0 20px;
}
.slick-product__index .slick-next {
    background: url(images/i_arrow__l.png) no-repeat;
    width: 35px;
    height: 35px;
    right: -35px;
    transform: rotate(180deg);
}
.slick-product__index .slick-prev {
    background: url(images/i_arrow__l.png) no-repeat;
    width: 35px;
    height: 35px;
    left: -10px;
}
.slick-product__index .slick-next:before {
    content: "";
}
.slick-product__index .slick-prev:before {
    content: "";
}
.slick-product__index .slick-prev:hover,
.slick-product__index .slick-prev:focus,
.slick-product__index .slick-next:hover,
.slick-product__index .slick-next:focus {
    opacity: 1;
    background: url(images/i_arrow__l.png) no-repeat;
}
.item_pro {
    border: solid 1px #ebebeb;
    position: relative;
    box-sizing: border-box;
    margin: 15px 0px;
    padding-top: 37px;
    float: left;
    width: 23%;
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.item_pro h3 a {
    color: #333;
    font-size: 18px;
    text-align: center;
    display: block;
    font-family: "RobotoBold";
}
.gia_product {
    margin-top: 10px;
}
.gia_product span {
    color: #41abdf;
    font-weight: bold;
}
.sticker {
    position: absolute;
    right: 15px;
    top: 2px;
    width: 35px;
    height: 33px;
}
.sticker.news-st {
    background: url(images/icon_new_p.png) no-repeat;
}
.sticker.sale-st {
    background: url(images/icon_sale_p.png) no-repeat;
}
.order-product {
    border-top: solid 1px #ebebeb;
    margin-top: 10px;
    padding: 2px 0;
}
.order-product p a {
    color: #e7855e;
    font-family: "RobotoLight";
}
.item_pro .image_product {
    display: block;
    overflow: hidden;
    max-width: 100%;
}
.item_pro .image_product img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.item_pro:hover .image_product img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.item_pro .product-detail {
    background: #e1e1e1;
}
.item_pro:hover .product-detail {
    background: #abd98e;
}
.item_pro .product-detail a {
    color: #707070;
    font-size: 12px;
    font-weight: bold;
    padding: 17.5px 10px;
    display: block;
}
.item_pro:hover .product-detail a {
    color: #fff;
}
.slider-mobile {
    display: none;
}
.linkdan {
    margin-bottom: 15px;
}

/*Video*/
#box_video {
    width: 100%;
    max-width: 840px;
    margin: auto;
}
.title-detail {
    color: #6a0000;
    font: 18px "RobotoMedium";
    margin-top: 12px;
}

/*End video*/

/*RP*/
@media all and (max-width: 1224px) {
    .taisao_right > span {
        font-size: 16px;
    }
}
@media all and (max-width: 1220px) {
    .center,
    .swap-content {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .slider-for-camnhan .slick-prev,
    .slider-for-camnhan .slick-next {
        display: none !important;
    }
}
@media all and (max-width: 1200px) {
    .lh-1:nth-child(2) {
        width: 30%;
    }
    .slick-tieuchi .slick-prev,
    .slick-tieuchi .slick-next {
        display: none !important;
    }
}
@media all and (max-width: 1194px) {
    .menu > .center > .ddsmoothmenu > ul > li > a {
        margin: 0 6px;
    }
    .menu .center .ddsmoothmenu ul li a {
        padding: 0 5px !important;
    }
}
@media all and (max-width: 1124px) {
    .menu .center .ddsmoothmenu ul li a {
        padding: 0 !important;
    }
}
@media all and (max-width: 1055px) {
    .menu .center .ddsmoothmenu ul li a {
        margin: 0 5px;
    }
}
@media all and (max-width: 1000px) {
    #footer {
        margin-bottom: 50px;
    }
    .menu,
    #hotlinemaytinh {
        padding: 10px 0;
        display: none;
    }
    .logo {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .hotlineh {
        margin: 0 auto;
    }
    .menu .center {
        flex-wrap: wrap;
    }
    #wrap_menu_res {
        display: block;
    }
    #smoothmenu1 {
        display: none;
    }
    .lh-1:nth-child(1),
    .lh-1:nth-child(2),
    .lh-1:nth-child(3) {
        margin: 0;
        width: 100%;
        margin-bottom: 12px;
    }
    .tabs_list a {
        margin-bottom: 5px;
    }
}
@media all and (max-width: 970px) {
    .item_camnhan > span:first-child:before {
        display: none;
    }
    .taisao_left,
    .taisao_right {
        width: 100%;
    }
    .taisao_left {
        text-align: center;
    }
    .img_taisao img {
        display: inline-block !important;
    }
    .taisao {
        padding: 20px 0;
    }
}
@media all and (max-width: 900px) {
    .box-news-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        max-width: 100%;
    }
    .box-news h3 a {
        width: 100%;
    }
    .ct-r,
    .ct-l {
        width: 100%;
        margin-bottom: 12px;
    }
}
@media (max-width: 768px) {
    .header-hotline {
        display: none;
    }
    header {
        padding-bottom: 0;
    }
    .mm-menu.mm-offcanvas {
        z-index: 1;
    }
    .product-list .list .item {
        width: 50%;
        float: left;
    }
    .product-list .list .item img {
        margin: auto;
    }
    #box-video .video-content .item {
        margin-top: 15px;
    }
    #box-video .video-content .item .image img {
        display: block;
        margin: auto;
    }
    .footer_top .col-sm-4 + .col-sm-4 {
        margin-top: 15px;
    }
}
@media all and (max-width: 710px) {
    .lienhe-left,
    .lienhe-right {
        width: 100%;
        margin-bottom: 12px;
    }
    .slick-opinion-customer {
        overflow: hidden;
    }
    .slick-product__index .item_pro {
        margin: 0 30px;
    }
    .item_tieu_chi {
        width: 100%;
        max-width: 100%;
    }
    .slider-desktop {
        display: none;
    }
    .slider-mobile {
        display: block;
    }
    img {
        width: 100% !important;
        height: 100% !important;
    }
}
@media all and (max-width: 570px) {
    .slick-tieuchi {
        margin-left: -15px;
    }
    .item_tieu_chi,
    .pic_pro img {
        margin: auto;
        max-height: 85px;
    }
    .item_pro {
        width: 100% !important;
    }
    .center {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
    }
    .visible ul li {
        font-size: 28px;
    }
}
@media all and (max-width: 540px) {
    .box-news {
        width: 100%;
    }
}
@media all and (max-width: 500px) {
    .date_news {
        left: 0;
    }
}
@media all and (max-width: 485px) {
    .product-list .list .item {
        width: 100%;
    }
    .tabs_list a {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
}
@media all and (max-width: 478px) {
    .visible ul li {
        font-size: 23px;
    }
}
@media all and (max-width: 400px) {
    #box_video iframe {
        height: 350px !important;
    }
}
@media all and (max-width: 370px) {
    .footer_bottom {
        line-height: inherit;
        height: auto;
        padding: 10px 0;
    }
    .visible ul li {
        font-size: 20px;
    }
}

/*End RP*/
