/*cart*/
.box-cart.active {
    color: #1ba0da !important;
}

.box-cart {
    position: fixed;
    top: 50px;
    right: -400px;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: solid 1px #1ba0da;
    box-shadow: 0 0 3px #CACACA;
    background: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: default;
    display: block;
    z-index: 99999999;
}

.box-cart i.fa {
    padding: 0 5px;
}


.box-cart .box-cart-detail p.title {
    color: #0E9803;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
}

.box-cart .box-cart-detail .box-cart-scroll {
    max-height: 215px;
    overflow: hidden;
    float: left;
    width: 100%;
    overflow: scroll;
}

.box-cart .box-cart-detail .table {
    margin: 10px 0;
    border: 1px solid #ddd;
    width: 100%;
    color: #676767;
    text-align: left;
    font-size: 14px;
}

.td_soluong i.fa {
    display: inline-block;
    background: #1ba0da;
    border: 1px solid #fff;
    top: 5px;
    right: 5px;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 2px 0;
    cursor: pointer;
}



.box-cart .box-cart-detail .box-cart-scroll .table td.cart-name {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.box-cart .box-cart-detail .box-cart-scroll .table td.cart-name span{
    text-transform:uppercase;	
}


.box-cart .box-cart-detail .box-cart-scroll .table td.cart-name span {
    color: #474747;
    color: #474747;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 21px;
    text-overflow: clip;
    text-overflow: ellipsis;
    text-overflow: "ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦";
    text-overflow: fade;
    text-overflow: fade(10px);
    text-overflow: fade(5%);
}

.box-cart .box-cart-detail .box-cart-scroll .table td .delete_pro_in_cart_top {
    background: #D04511;
    border: 1px solid #fff;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 2px 0;
    cursor: pointer;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #74be43;
}

.box-cart .box-cart-detail .table tfoot td {
    background: #eee;
    padding: 10px 5px;
}

.box-cart .box-cart-detail .table td {
    border: 1px solid #ddd;
    padding: 5px;
    vertical-align: middle;
    position: relative;
}
.box-cart .box-cart-detail .box-cart-scroll::-webkit-scrollbar {
    width: 3px;
}

.box-cart .box-cart-detail .box-cart-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #1ba0da; 
    border-radius: 10px;
}

.box-cart .box-cart-detail .box-cart-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #1ba0da; 
    width: 2px;
}

.box-cart-scroll img 
{
    max-width: 100%!important;
}
.giohangtable{
    border: 1px solid #74be43;
}

.giohangtable tr,.giohangtable td{padding: 5px;font-family: 'RobotoSlabRegular';font-size: 14px;}

.item_pro_company span.product-view, span.product-view {
    left: 25%;
}

.item_pro_company span.product-addcart,span.product-addcart {
    right: 25%;
}

.item_pro_company span.product-view,.item_pro_company span.product-addcart,.item_pro_col span.product-view,.item_pro_col span.product-addcart {
    background: #f36f36;
    border: thin solid #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 29px;
    display: inline-block;
    color: #fff;
    position: absolute;
    top: calc(50% - 15px);
    opacity: 0;
    z-index:9;
    transition: 0.7s all ease;
    cursor: pointer;
}
.item_pro_company span.product-view a,.item_pro_company span.product-addcart a,.item_pro_col span.product-view a,.item_pro_col span.product-addcart a {
    color: #fff;
    display: block;
}

.item_pro_col{
    margin: 0 auto;
    position: relative;
    background-color: rgb(255,255,255) !important;
    border: 1px solid transparent !important;
}
.item_pro_col .img_pro_company img 
{
    max-width:100%;
    width:100%;
}
.item_pro_company:hover  span.product-view,.item_pro_col:hover  span.product-view {
    left: calc(50% - 35px);
    opacity: 1;
}

.item_pro_company:hover span.product-addcart,.item_pro_col:hover span.product-addcart {
    right: calc(50% - 35px);
    opacity: 1;
}


/* THANH TOAN */
.dat-hang {
    margin-bottom:10px;
    background: #fff;
    border: thin solid #74be43;
}

.dat-hang .col-sm-4 h3.title {
    color: #74be43;
    font-size: 18px;
    border-bottom: solid 1px #74be43;
    margin: 20px 0;
    padding-bottom: 5px;
}
.dat-hang.distance-none{     margin: 15px auto;}
.delete_payment
{
    float:right;
    cursor: pointer;
}
.box-cart.cart-detail {
    position: relative;
    float: left;
    width: 100%;
    padding: 0;
    top: 0;
    border: none;
    display: block !important;
    box-shadow: none;
    z-index: 0;
    right: 0px;
}

.box-cart .box-cart-detail .box-cart-scroll{
    min-height:100%;
}

.box-cart.cart-detail .box-cart-detail .table{
    margin: 0px;
}

.table tbody{width:100% !important;}

p.message {
    border: solid 1px #ff0404;
    padding: 10px 0;
    background: #ffc300;
}
.show-info-web .fa-trash-o{
    background: #D04511;
    border: 1px solid #fff;
    color: #fff;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 2px 0;
    cursor: pointer;
}
@media all and (max-width:648px){
    .tablethanhtoan{overflow-x: scroll;}
}
@media all and (max-width:394px){
    .giohangtable,.show-info-web{overflow-x:scroll;}
    .button{width: 100%;}
}